[Unit]
Description=Revolution Pi bluetooth helper
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/revpi-bthelper %I
RemainAfterExit=yes
